*{
  margin :0;
  padding: 0;
  font-family:poppins ;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  min-height: 100vh;
  background: linear-gradient(rgb(171, 171, 214),rgb(77, 22, 206));
}


